
<div #swiper class="swiper-container">
 
  <div class="swiper-wrapper">
    
    <!-- Slides-->
    <ng-template ngFor let-item [ngForOf]="slides" let-i="index">
      <div  class="swiper-slide">
        <img class="full-size"  src="https://picsum.photos/{{dim.w}}/{{dim.h}}?image={{item.id}}" />
        <!-- <ion-img [width]="dim.w" [height]="dim.h" src="https://picsum.photos/{{dim.w}}/{{dim.h}}?image={{item.id}}"></ion-img> -->
      </div>
    </ng-template>
  </div>
  <div #paginator class="swiper-pagination"></div>
  <div class="info">{{id}}</div>
</div>

