<ion-header>
  <ion-navbar>
    <ion-title>
      Test
    </ion-title>
  </ion-navbar>
</ion-header>
<!-- 
<ion-content padding>
  <comp-swiper [baseUrl]="baseUrl" ></comp-swiper>
</ion-content>
-->
<ion-content padding>
<ion-list [virtualScroll]="items" approxItemHeight="200px" approxItemWidth="100%" >

  <div   class="fullW" *virtualItem="let item"  >
    <comp-swiper [id]="item" [baseUrl]="baseUrl" ></comp-swiper>
  </div>

</ion-list> 
</ion-content>